{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Powflix | Coming soon{% endblock %}
{% block style %}
<style type="text/css">
    body {
        background-color: #eae922;
    }

    .img-fluid {
        margin-top: 15vh;
    }

    .lead-text {
        font-family: 'Quicksand', sans-serif;
        color: black;
    }

    #sticky-footer {
        position: fixed;
        text-align: center;
        width: 100%;
        bottom: 0;
    }

    .fa {
        font-size: 30px;
        color: black;
    }

    .fa:hover {
        opacity: 0.7;
        transition: 0.2s;
    }
</style>
{% endblock %}

{% block content %}

<div class="container text-center">

    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'mainapp/images/logo.png' %}" alt="Powflix Logo" width="250px" class="img-fluid">
            <h1 class="lead-text">Powflix website is <b>coming soon</b></h1>
        </div>
    </div>

</div>

<footer id="sticky-footer">
    <div class="container">
        <ul class="list-unstyled list-inline social">
            <li class="list-inline-item"><a href="https://github.com/powflix" target="_blank"><i
                        class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://facebook.com/powflix" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/powflix" target="_blank"><i
                        class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com/powflix" target="_blank"><i
                        class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

</footer>

{% endblock %}