{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Powflix | Coming Soon{% endblock %}
{% block style %}
<style type="text/css">

body {
    background-color: #eae922;
}

.img-logo {
    margin-top: 150px;
}

.txt-ft {
    font-family: 'Quicksand', sans-serif;
}

.footer {
    margin-top: 150px;
}

.fa {
  font-size: 30px;
  color: black;
}

.fa:hover {
    opacity: 0.7;
    transition: 0.2s;
}

</style>
{% endblock %}

{% block script %}
<script>

</script>

{% endblock %}


{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'mainapp/images/logo.png' %}" alt="Powflix Logo" width="200px" class="img-logo">
            <h1 class="txt-ft">Powflix website is <b>coming soon</b></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 footer">
            <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https://facebook.com/powflix" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/powflix" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://instagram.com/powflix" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/powflix" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        </hr>
    </div>

</div>

{% endblock %}
